@import "variables";

.tooltip {
  position: absolute;
  text-align: center;
  width: 100px;
  height: 28px;
  padding: 10px;
  display: none;
  opacity: 0;
  z-index: 200;
  font-size: 1.2rem;
  background: $silver;
  border: 0;
  border-radius: 8px;
  pointer-events: none;
}
