@import "variables";

@mixin mat-tabs-theme($theme-or-color-config) {
  .nav-tabs {
    font-size: 1.4rem;
    font-weight: 600;
    text-transform: uppercase;

    .mat-tab-nav-bar, .mat-tab-header {
      box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);
    }

    .mat-ink-bar {
      background-color: $surf;
      height: 3px;
    }

    .mat-tab-label {
      opacity: 1;
      color: $gray-granite-dark;
    }
    .mat-tab-label.outer-tab-label {
      width:50%;
    }

    .mat-tab-label-active {
      color: $surf;
    }

    .mat-tab-label:focus {
      opacity: 1;
    }

    .mat-tab-header {
      height: 45px;
    }

    .mat-tab-labels {
      height: 45px;
    }
  }

  .section-tabs {
    max-width: 1420px;
    border-radius: 0;
    min-width: 50px;
    margin: 0 auto;

    .mat-tab-body-content {
      overflow: visible;
    }

    .mat-tab-label:not(.mat-tab-label-active) {
      border: 1px solid $gray-shadow;
      background-color: $white-smoke-light;
    }

    .mat-tab-body.mat-tab-body-active {
      overflow: visible;
    }
    .mat-tab-labels {
      background-color: $dark-silver!important;
    }
    .mat-tab-label {
      opacity: 1;
      color: $gray-granite-dark;
      border-radius: 15px 15px 0px 0px;
      background-color: white;
      min-width: 50px;
      margin-left: 20px!important;
    }

    .mat-tab-label-active {
      color: $surf;
      background-color: $white!important;
    }
  }

  .section-outer-tabs {
    max-width: 1420px;
    margin: 0 auto;
    border-radius: 0 0 15px 15px;

    .mat-tab-body-content {
      overflow: visible;
    }

    .mat-tab-body.mat-tab-body-active {
      overflow: visible;
    }
    .mat-tab-labels {
      background-color: white;
    }

    .mat-tab-label:not(.mat-tab-label-active) {
      border: 1px solid $gray-shadow;
      background-color: $white-smoke-light;
    }

    .mat-tab-label {
      opacity: 1;
      color: $gray-granite-dark;
      border-radius: 15px 15px 0 0;
      background-color: $white;
      margin-left: 20px;
      overflow: visible;
    }

    .mat-tab-label-active {
      color: $surf;
      background-color: $dark-silver;
    }
  }

  .section-inner-tabs {
    border-radius: 0 0 15px 15px;

    .mat-tab-labels {
      background-color: white;
    }

    .mat-tab-label {
      background-color: #f4f5f9;
      margin: 10px 0 0 0;
      overflow: visible;
    }

    .mat-tab-label-container{
      padding-top: 10px;
      background-color: $dark-silver;
    }

    .mat-tab-label-active {
      background-color: $dark-silver;
    }
  }
}
