<div class="mat-dialog-header">
  <div class="header-title">{{data.header}}</div>
  <mat-icon mat-dialog-close class="close">close</mat-icon>
</div>
<div mat-dialog-title>
  <div class="title">{{data.title}}</div>
  <div class="item">{{data.item}}</div>
  <div *ngIf="data.target != null" class="title">to</div>
  <div *ngIf="data.target" class="item">{{data.target}}</div>
</div>
<mat-dialog-actions mat-dialog-actions>
  <button class="cancel" mat-button mat-dialog-close>cancel</button>
  <button class="confirm" mat-button [mat-dialog-close]="true">{{data.button || data.header}}</button>
</mat-dialog-actions>
