@import "variables";

.validations-table-container{
  max-width: 1520px;
  margin: 15px auto 0 auto;
  border-radius: 15px;

  &__chips {
    margin-bottom: 10px;
    margin-left: 50px;
  }
}

.validation-workflow-column{
  width:600px;
}

.arrows-container {
  display: flex;
  align-items: center;
  margin: 0 10px;

  @media (max-width: 800px) {
    margin: 0;
  }

  &.long {
    align-items: flex-start;

    app-right-button, app-left-button {
      margin-top: 35vh;
    }
  }
}

.custom-table {
  width:100%;
}

tr.validation-element-row:hover{
  cursor: pointer;
  background: $pale-turquoise-light;
}

.mat-cell, .mat-header-cell {
  padding: 5px;

  @media (max-width: 800px) {
    &:first-of-type {
      padding-left: 11px;
    }
  }
}
