@import "variables";


.table-header__tab-container {
  height: 80px;
  max-width: 1420px;
  margin: 0 auto;
  background-color: $dark-silver;
}
.workflows-child-table-container {
  background-color: white;
  max-width: 1420px;
  margin: 0 auto;
  border-radius: 0 0 15px 15px;

  .table-header {
    &__wrapper {
      padding: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 3px solid $surf-pale;

      @media (max-width: 1080px) {
        display: block;
      }
    }

    &__title {
      color: $gray-trolley-dark;
      line-height: 26.4px;
      font-weight: 500;
      font-size: 2.2rem;
      margin-top: -12px;

      @media (max-width: 1080px) {
        margin-top: 0;
      }
    }

    &__filter-form {
      width: 800px;
      display: flex;
      justify-content: space-between;
      text-transform: uppercase;

      @media (max-width: 1080px) {
        margin-top: 10px;
      }

      @media (max-width: 860px) {
        display: block;
        width: 710px
      }

      mat-label {
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 16.8px;
        text-transform: uppercase;
      }

      mat-select {
        font-size: 1.5rem;
        line-height: 16.8px;
        color: $dark-silver;
      }

      mat-form-field {
        @media (max-width: 850px) {
          display: block;
        }
      }
    }

    &__state {
      width: 160px;
    }

    &__status {
      width: 160px;
    }

    &__date {
      font-size: 1.132rem;
      width: 200px;

      input {
        text-transform: uppercase;
      }
    }

    &__customer {
      width: 250px;
    }
  }

  .custom-table {
    box-shadow: none;
  }
}

.mat-cell, .mat-header-cell {
  padding: 5px;

  @media (max-width: 800px) {
    &:first-of-type {
      padding-left: 11px;
    }
  }
}
