<div class="quality-header">
  <div class="quality-header__title">
    Data range
  </div>

  <div class="quality-header-wrapper">

    <div class="quality-header-wrapper__days">
      <div 
        class="quality-header-wrapper__day" 
        *ngFor="let interval of dateIntervals" 
        (click)="setDateInterval(interval)">
        <div class="quality-header-wrapper__day-number">Last {{ interval }} days</div>
        <mat-icon 
          class="quality-header-wrapper__day-date-range" 
          [ngClass]="{'active': interval === selectedDateInterval}">date_range</mat-icon>
      </div>
    </div>

    <form [formGroup]="form" class="quality-header-wrapper__search-container">
      <mat-form-field appearance="outline" class="quality-header-wrapper__search-container-form-field">
        <mat-label>Enter a date range</mat-label>
        <mat-date-range-input 
          [rangePicker]="rangePicker" 
          class="quality-header-wrapper__search-container-date-range-input" 
          (click)="rangePicker.open()">
          <input matStartDate placeholder="Start" formControlName="createdStart">
          <input matEndDate placeholder="End" formControlName="createdEnd" (dateChange)="queryQuality()">
        </mat-date-range-input>
        <mat-icon matDatepickerToggleIcon
          class="quality-header-wrapper__search-container-clear-form"
          *ngIf="isFormEntered()" 
          (click)="clearForm()">clear</mat-icon>
        <mat-datepicker-toggle matSuffix [for]="rangePicker"></mat-datepicker-toggle>
        <mat-date-range-picker #rangePicker>
          <mat-date-range-picker-actions>
            <button mat-button matDateRangePickerCancel>Cancel</button>
            <button mat-raised-button color="primary" matDateRangePickerApply>Apply</button>
          </mat-date-range-picker-actions>
        </mat-date-range-picker>
      </mat-form-field>
    </form>
  </div>
</div>