@import "variables";

.workflows-header-container {
  display: flex;
  max-width: 1420px;
  margin: 30px auto 0 auto;
  min-height: 100px;
  padding: 0 60px;

  @media (max-width: 1200px) {
    ::ng-deep .stat-block__section {
       border-right: none;
    }
    display: block;
  }

  @media (max-width: 1050px) {
    padding: 0 10px;
  }

  &__section_state {
    padding-right: 10px;
    width: 718px;
  }

  &__section_status {
    padding-left: 10px;
    border-left: 1px solid $gray-trolley-dark;
    width: 280px;
  }

  &__title {
    font-weight: 600;
    font-size: 1.6rem;
    color: $gray-granite-dark;
  }

  &__list {
    display: flex;
    justify-content: flex-start;
    line-height: 22px;
  }

  &__item {
    margin-right: 18px;
  }

  &__name {
    font-weight: 300;
    font-size: 1.4rem;
    color: $black;
    white-space: nowrap;
  }

  &__value {
    font-weight: 600;
    font-size: 1.6rem;
    color: $sapphire;
    cursor: pointer;
  }

  &__number {
    border-radius: 3px;
    width: 20px;
    padding: 3px 3px 6px 6px;
    height: 18px;
    margin-left: -5px;
    margin-top: -1px;
  }

  &__number.active {
    background-color: $sapphire;
    color: $white;
  }
}
