<div class="legend">
  <div class="legend__line"><span class="legend__circle surf"></span>Basic fields</div>
  <div class="legend__line"><span class="legend__circle saffron"></span>Extended fields</div>
  <div class="legend__line"><span class="legend__circle trolley"></span>Filing</div>
  <div class="legend__line"><span class="legend__circle bud"></span>Data</div>
  <div class="legend__line"><span class="legend__circle saffron"></span>ML Score</div>
  <div class="legend__line"><span class="legend__circle saffron"></span>ML Precision</div>
</div>
<figure id="chart"></figure>
