$primary-surf: (
  50: #e0f7fb,
  100: #b3ebf6,
  200: #81dfef,
  300: #4dd1e8,
  400: #26c7e1,
  500: #03bddb,
  600: #00adc8,
  700: #0098ad,
  800: #008495,
  900: #006269,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: white,
    A400: white,
    A700: white,
  )
);

$secondary-bud: (
  50: #f5f9e9,
  100: #e5f0c8,
  200: #d3e7a6,
  300: #c2dd81,
  400: #b3d564,
  500: #a5cd47,
  600: #95bd3f,
  700: #7fa935,
  800: #6b952c,
  900: #47731b,
  contrast: (
    50: rgba(black, 0.87),
    100: rgba(black, 0.87),
    200: rgba(black, 0.87),
    300: rgba(black, 0.87),
    400: rgba(black, 0.87),
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: rgba(black, 0.87),
    A200: white,
    A400: white,
    A700: white,
  )
);
