<div class="quality-child-header">
  <div>
    <div routerLink="/quality" class="quality-child-header__back-button-container">
      <mat-icon class="quality-child-header__back-button">keyboard_backspace</mat-icon>
    </div>
  </div>
  <div class="quality-child-header__main">
    <div class="quality-child-header__title-container">
      <div class="quality-child-header__work-icon-container">
        <mat-icon class="quality-child-header__country-icon"></mat-icon>
      </div>
      <div class="quality-child-header__main-inner" >
        <div class="header">
          <div class="header__wrapper">
            <div class="header__title">{{dummyName}}</div>
            <div class="header__id"><span class="bold">dummy code </span> {{dummyCode | uppercase}}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
