
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

$custom-typography: mat-typography-config(
  $font-family: 'Montserrat',
  $button: mat-typography-level(14px, 24px, 600),
  $body-2: mat-typography-level(14px, 24px, 700)
);
// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core($custom-typography);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
@import "assets/styles/themes/custom-theme-palette";
$admin-panel-frontend-primary: mat-palette($primary-surf);
$admin-panel-frontend-accent: mat-palette($secondary-bud);

// The warn palette is optional (defaults to red).
$admin-panel-frontend-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$admin-panel-frontend-theme: mat-light-theme((
  color: (
    primary: $admin-panel-frontend-primary,
    accent: $admin-panel-frontend-accent,
    warn: $admin-panel-frontend-warn,
  )
));

// import custom componenet themes
@import 'assets/styles/themes/custom-component-themes';

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($admin-panel-frontend-theme);

// import and @include the theme mixins for each component
// that you are using.
@include custom-components-theme($admin-panel-frontend-theme);

/* You can add global styles to this file, and also import other style files */

@import 'global';
@import 'inline-labels-chart';

html { font-size: 10px; line-height: 16px; font-family: Montserrat, sans-serif; }
body { margin: 0; }
ul { list-style: none; padding: 0; }
a { color: inherit; text-decoration: inherit; }


@import '~ngx-toastr/toastr';

.section-outer-tabs > .mat-tab-header > .mat-tab-label-container > .mat-tab-list >  .mat-tab-labels >  .mat-tab-label {
  width:50%!important;
  &:last-of-type {
    margin-left:5px;
  }
}

.invisible{
  visibility: hidden;
}

.mat-tooltip {
  font-size: 1.2rem;
  background-color: $black;
}
