@import "variables";

.travelling-header {
  display: flex;
  max-width: 1420px;
  margin: 30px auto 0 auto;
  min-height: 100px;
  padding: 0 60px;

  @media (max-width: 1050px) {
    padding: 0 10px;
  }
}
