/* colors palette */
$sapphire-dark: #096832;
$sapphire: #0d795c;
$sapphire-light: #238551;
$surf-dark: #06b600;
$surf: #00c81b;
$surf-light: #2917cd;
$surf-pale: rgba(0, 173, 200, 0.15);
$raisin-dark: #231B26;
$raisin: #302533;
$raisin-light: #2C222F;
$bud-dark: #B9D872;
$bud: #B3D564;
$bud-light: #C7E08E;
$carmine-dark: #E84D4C;
$carmine: #FF5453;
$carmine-light: #FF6362;
$carmine-light2: #fbbebe;
$saffron-dark: #6c5a02;
$saffron: #917108;
$saffron-light: #FDB46D;
$pale-turquoise-dark: #A9D3DB;
$pale-turquoise: #B9E8F0;
$pale-turquoise-light: #BFEAF1;
$green-eggshell-dark: #D3DCBE;
$green-eggshell: #E8F2D0;
$green-eggshell-light: #EAF3D4;
$red-bubble-gum-dark: #E8B4B4;
$red-bubble-gum: #FFC5C5;
$red-bubble-gum-light: #FFCACA;
$orange-wheat-dark: #DFC2A4;
$orange-wheat: #F5D5B4;
$orange-wheat-light: #F5D8BA;
$white-smoke-light: #F4F5F9;
$white-smoke-dark: #DEDFE3;
$gray-trolley-light: #7E828B;
$gray-trolley-dark: #727680;
$gray-lavender-light: #BEC5D8;
$gray-lavender-dark: #ADB4C5;
$gray-granite-light: #737377;
$gray-granite-dark: #65666a;
$black: #000000;
$white: #ffffff;
$silver: #C0C0C0;
$gray-shadow: #DDDDDD;
$dark-silver: #5C5D61;
